<div>
<h1><%=@recipe.name%></h1>
<div class="switch-button">
<p>Puplic<p>
<label class="switch">
  <input <%=@recipe.public%> type="checkbox" >
  <span class="slider round"></span>
</label>
</div>
<p>Preparation time : <%=@recipe.preparation_time %> hour</p>
<p>Cooking time : <%=@recipe.cooking_time%> hour</p>
<p>Step go here...</p>
<div></div>
</div>