
<h1><%=@pupli_recipe_details.name%></h1>
<p>Preparation time : <%=@pupli_recipe_details.preparation_time %> hour</p>
<p>Cooking time : <%=@pupli_recipe_details.cooking_time%> hour</p>
<p>Step go here...</p>
<p><%=@pupli_recipe_details.user.name%><p>
<div></div>
