@font-face {
    font-family: "MyWebFont";
    src: url("GemunuLibre-VariableFont_wght.ttf") format("woff2");
  }

body {
    background-color: #fff;
    font-family: "MyWebFont", Fallback, sans-serif;
    color: #020d16;
  }

/* users sessions */

.session-h2 {
    color: #274b81;
    font-size: 2em;
  }
  
  .session-c {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .session-btn {
    background-color: #51517e;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    margin-top: 20px;
  }

  body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;   
  }
    
  /* users sessions styles */
  
  /* .session-h2 {
    color: #2276f4;
  }
  
  .session-c {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .session-btn {
    background-color: #2276f4;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    margin-top: 20px;
  } */
  