<div class="container">
<div class="foods-c">
  <table class="table m-3">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    <%  @recipe_food_detials.each do |recipe_food| %>
      <tr>
        <th scope="row"><%= recipe_food.food.name %> </th>
        <td><%= recipe_food.quantity %><%= recipe_food.food.measurement_unit %> </td>
        <td><%= recipe_food.food.price*recipe_food.quantity %></td>
</td>
      </tr>
      <%end %>
   </tbody>
  </table>
</div>
</div>
